[Desktop Entry]
Version=1.1
Name=ddcui
GenericName=Monitor Settings
Comment=Control monitor settings
Keywords=ddcutil;DDC/CI;MCCS
Exec=ddcui
TryExec=ddcui
Icon=ddcui
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;
X-Desktop-File-Install-Version=0.24
